@theme {
  --color-sky-soft: #b3e5fc;
  --color-sky-deep: #87ceeb;
  --color-grass: #8bc34a;
  --color-grass-soft: #aed581;
  --color-sunny: #ffd54f;
  --color-peach: #ffab91;
  --color-flower: #ef5350;
  --color-earth: #6d4c41;
}
